
<mat-toolbar color="primary">
    <!-- <mat-icon>home</mat-icon> -->
    <button mat-button (click) = "home()">Blood bank management</button>
    <span style="flex: 1 auto;"></span>
    <button *ngIf = "!show" mat-raised-button routerLink='/register'> Register</button>
    <button *ngIf = "!show" mat-button routerLink='/login'>Login</button>
    <button class="buts" *ngIf = "show && !isAdmin" mat-button routerLink='/requestBlood'>Request Blood</button>
    <button class="buts" *ngIf = "show" mat-button routerLink='/profile'>Profile</button>
    <button class="buts" *ngIf = "show" mat-button (click) = "logout()">Logout</button>
    <button *ngIf = "show" class="dropdown" mat-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <i class="fa fa-bars"></i>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngIf = "show && !isAdmin"  routerLink='/requestBlood'>Request Blood</button>
        <button mat-menu-item *ngIf = "show"  routerLink='/profile'>Profile</button>
        <button mat-menu-item *ngIf = "show"  (click) = "logout()">Logout</button>
      </mat-menu>
      
</mat-toolbar>
<div class="banner">
    <h3>“Donate Blood And Be The Reason For A Smile On Someone’s Face.”</h3>
</div>