<div class="footer" *ngIf = "isLogged">
    <div class="links">
        <div class="banner">
            <h1>
                <span>{{count}}</span> Connected Donors
            </h1>
        </div>
        
            <div class="buttons">
                <button mat-button>About Us</button>
                <button mat-button>Contact Us</button>
                <button mat-button>Latest News</button>
            </div>
            <div class="buttons">    
                <button mat-button>Events</button>
                <button mat-button>Awards</button>
                <button mat-button>Blogs</button>
            </div>
        
    </div>
    <hr>
    <div class="social">
        <div class="fabs">

        </div>
        <div class="text">
            <h1>
                Made with Love
            </h1>
            <p>
                Copyright &copy; 2021. All Right Reserved By <span>Blood Bank Management</span> <br>
                Design and Develop by <span>Pavan</span>
            </p>
        </div>
    </div>
</div>