<div class="container">
    <div class="details">
        <h1>User Details</h1>
        <table class='table table-striped'>
            <tr>
                <td scope='row'>Donor Name</td>
                <td>{{donor.username}} </td>
            </tr>
            <tr>
                <td>Email ID</td>
                <td> {{donor.email}} </td>
            </tr>
            <tr>
                <td>Mobile Number</td>
                <td> {{donor.mobile}} </td>
            </tr>
            <tr>
                <td>Blood Group</td>
                <td> {{donor.bloodGroup}} </td>
            </tr>
            <tr>
                <td>Gender</td>
                <td> {{donor.gender}} </td>
            </tr>
            <tr>
                <td>City</td>
                <td> {{donor.city}} </td>
            </tr>
            <tr>
                <td>District</td>
                <td> {{donor.district}} </td>
            </tr>
            <tr>
                <td>State</td>
                <td> {{donor.state}} </td>
            </tr>
            <tr>
                <td>Pincode</td>
                <td> {{donor.pincode}} </td>
            </tr>
        </table>
    </div>
</div>