.main {
    height: auto;
    border-bottom: 1px solid lightgray;
    
    span {
        color: red;
        font-weight: bold;
        font-size: larger;
    }
    table {
        position: relative;
        width: 80vw;
        left: 50%;
        transform: translateX(-50%);
    }
    h1 {
        text-align: center;
    }
}
@media screen and (max-width: 500px) {
    .main {
        table {
            left: 0%;
            transform: translateX(-0%);
         
        }
        .list {
            overflow-x: auto;
        }
    }
}