.container {
    width: 60vw;
    height: auto;
    padding: 20px;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
    
}
small {
    color: red;
}
.col {
    padding: 5px 10px;
}
.spin {
    font-size: large;
    text-align: center;
    mat-spinner {
        margin: 10px auto;
    }
}

button {
    background-color: rgb(213, 32, 0);
}
@media screen and (max-width: 500px) {
    .container {
        width: 96%;
        margin: 5px 10px;
    }
    .row {
        flex-direction: column;
        
    }
}